@import url('https://fonts.googleapis.com/css2?family=Marmelad&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

p,a{
    font-family: "PT Sans", sans-serif;
    color: rgb(75, 75, 75);
}

h2{
    font-family: "Marmelad", sans-serif;
}

h1{
    font-family: "Stack Sans Notch", sans-serif;
}
