html{
    scroll-behavior: smooth;
}

.parent-about{
    background-color: rgb(242, 242, 242);
    height: auto;
}
.about-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    background-color: white;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.words{
    width: 35%;
    height: auto;
    font-size: 30px;
    margin-left: 20px;
    
}

.h1-2{
    display: none;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 25px;
    width: 41%;
    height: 200px;
    border: 1px solid rgb(75, 75, 75);
    border-radius: 0px 20px 0px 20px;
    font-size: 18px;
    padding: 20px;
}

@media (max-width: 500px) {
    .about-container{
        display: flex;
        flex-direction: column;

    }

    .words{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;

    }

    .h1-1{
        display: none;
    }

    .h1-2{
        display: flex;
        font-size: 50px;
    }

    .about{
        width: 86%;
        font-size: 15px;
        padding: 10px;
        line-height: 16px;
    }
}