

.about-container{
    display: flex;
    flex-direction: row;
    
}

.words{
    width: 40%;
    background-color: yellow;
}

.about{
    width: 60%;
    border-radius: 0px 10px 0px 10px;
    background-color: grey;
}