
.parent-about{
    background-color: rgb(242, 242, 242);
    height: auto;
}
.about-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    background-color: white;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.words{
    width: 35%;
    font-size: 30px;
    margin-left: 20px;
}

.about{
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 25px;
    width: 52%;
    height: 200px;
    border: 1px solid black;
    border-radius: 0px 20px 0px 20px;
    font-size: 18px;
}