@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');



html{
    scroll-behavior: smooth;
}

.body-section{
    display: flex;
    flex-direction: row;
    height: 650px;
    top: 0;
    align-items: end;
    justify-content: space-evenly;
    background-color: rgb(242, 242, 242);
    /* background: linear-gradient(to bottom right, #6fc3f700, #c2fdffb3); */
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.names{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    margin-right: 70px;
}



.he, .head1, .head2 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    line-height: 1;
}

.he{
    font-weight: 500;
    font-size: 60px;
}
.head1{
    padding-top: 10px;
    font-size: 70px;
}
.head2{
    padding-top: 10px;
    font-size: 70px;
}
.names-introduction>p{
    font-size: 20px;
    font-weight: bold;
    font-family: "Annie Use Your Telescope", cursive;
}
.but{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.butt{
    border-radius: 20px;
    margin-top: 7px;
    padding: 10px;
    width: 40%;
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    color: black;
    background-color: rgb(226, 227, 227);
}



.butt:hover{
    background-color: rgb(215, 218, 219);
}

.foto{
    width: auto;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.port-pic{
    height: auto;
    width: 390px;
    margin-top: 60px;
}

@media (max-width: 500px) {
    .body-section{
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 350px;
    }
    .foto{
        display: none;
    }
    .names{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
    }
    .he{
        font-size: 40px;
    }
    .head1,.head2{
        font-size: 50px;
    }

    .names-introduction>p{
        font-size: 13px;
    }
    .but{
        width: 100%;
    }
    .butt{
        width: 193.6px;
        padding: 12px;
        font-size: 10px;
    }
}