html{
    scroll-behavior: smooth;
}

.body-section{
    display: flex;
    flex-direction: row;
    height: 650px;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(242, 242, 242);
    /* background: linear-gradient(to bottom right, #6fc3f700, #c2fdffb3); */
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.names{
    margin-top: 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-right: 70px;
    
}


.nam{
    line-height: 0;
}
.he{
    font-weight: 500;
    font-size: 50px;
}
.head1{
    padding-top: 10px;
    font-size: 60px;
}
.head2{
    padding-top: 10px;
    font-size: 60px;
}
.nam>p{
    font-size: 16px;
}
.but{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.butt{
    border-radius: 20px;
    padding: 8px;
    width: 30%;
    display: flex;
    justify-content: center;
}

.foto{
    width: 30%;
    height: 60%;
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.port-pic{
    height: auto;
    width: 88%;
    margin-top: 60px;
}