html{
    scroll-behavior: smooth;
}

a:hover{
    background-color: rgb(215, 218, 219);
    cursor: pointer;
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 600px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    background-color: rgb(242, 242, 242);
}

.down-part{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 400px;
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 0px 20px 0px 20px;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    line-height: 0;
    margin-top: 10px;
}

.title>h1{
    font-size: 45px;
}
.title>p{
    font-size: 23px;
}


.talk{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    height: 300px;
    line-height: 0;
}

.contact-words{
    height: auto;
}
.contact-words>h1{
    font-size: 70px;
}
.contact-words>p{
    font-size: 20px;

}

.contact-icons{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.contact-icons>a{
    margin-top: 5px;
    padding: 4px;
    font-size: 23px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20px;
    width: 30%;
    height: 300px;
    padding: 10px;
}

.info>form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    outline: none;
    padding-left: 10px;
    margin-left: 10px;
    width: 80%;
    height: 35px;
    border-radius: 10px;
    border: 1px solid grey;
}


textarea{
    outline: none;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    width: 80.5%;
    height: 90px;
    border-radius: 10px;
    border: 1px solid grey;
}

.submit-button{
    margin-left: 10px;
    width: 35%;
    border-radius: 10px;
    padding: 8px;
    border: 1px solid gray;
    background-color: rgb(226, 227, 227);
}

.submit-button:hover{
    background-color: rgb(215, 218, 219);
}


.ig-icon {
    color: black;
}

.git-icon{
    color: black;
}

.email-icon{
    color: black;
}

.whats-icon{
    color: black;
}