

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    background-color: rgb(242, 242, 242);
}

.down-part{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 300px;
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 0px 20px 0px 20px;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    line-height: 0;
}

.title>h1{
    font-size: 45px;
}
.title>p{
    font-size: 23px;
}


.talk{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    height: 300px;
    line-height: 0;
}

.contact-words{
    height: auto;
}
.contact-words>h1{
    font-size: 70px;
}
.contact-words>p{
    font-size: 20px;

}

.contact-icons{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.contact-icons>a{
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 100%;
    padding: 20px;
    font-size: 10px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20px;
    width: 30%;
    height: 250px;
}

.info>form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    outline: none;
    padding-left: 10px;
    margin-left: 10px;
    width: 80%;
    height: 35px;
    border-radius: 10px;
    border: 1px solid grey;
}


textarea{
    outline: none;
    padding-left: 10px;
    margin-left: 10px;
    width: 80.5%;
    height: 65px;
    border-radius: 10px;
    border: 1px solid grey;
}

.info>form>button{
    margin-left: 10px;
    width: 35%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px;
}

button{
    background-color: rgb(224, 224, 224);
}

button:hover{
    background-color: rgb(170, 172, 177);
}