.foot{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 242, 242);
    border-top: 1px solid black;
    height: 33px;
}

.foot-p{
    display: flex;


    
}