


nav{
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid black;
}

.links{
    width: 33.3333333%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.links>a{
    text-decoration: none;
}
