

nav{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid black;
    top: 0;
    position: relative;
    background-color: white;
}

.chris{
    display: none;
}


.links{
    width: 33.3333333%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    font-size: 22px;
    color: black;
    cursor: pointer;
}

a:hover{
    color: grey; 
}

@media (max-width: 500px){
    nav{
        height: 60px;
    }

    .chris{
    display: flex;
    }

    .links{
        display: none;
    }
}
