


nav{
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid black;
    top: 0;
    position: fixed;
    background-color: white;
}

.chris{
    display: none;
}


.links{
    width: 33.3333333%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.links>a{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}

@media (max-width: 500px){
    nav{
        height: 60px;
    }

    .chris{
    display: flex;
    }

    .links{
        display: none;
    }
}
