@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');

html{
    scroll-behavior: smooth;
}


.proj{
    display: flex;
    flex-direction: column;
    height: 900px;
    width: 100%;
    background-color: rgb(242, 242, 242);
}

.proj>h2{
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-family: "Stack Sans Notch", sans-serif;
}

.div-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 582.67px;
    
}
.div-container>div{
    background-color: #516395;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    height: 250px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 40px;
}

.div-container>div:hover{
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid grey;
}

.first{
    width: 60%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /* justify-content: safe; */
}

.first1-div{
    width: 40%;
}
.firstphoto{
    width: 70%;
    height: 250px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.first2-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 250px;
    background-color: green;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.cardlink1{
    width: 270px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.cardlink1>h2{
    margin-left: 10px;
}
.cardlink1>i{
    margin-right: 10px;
}

.first-p{
    margin-left: 10px;
    margin-right: 3px;
}

.second{
    width: 30%;
}
.third{
    width: 30%;
}
.fourth{
    width: 60%;
}