@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');



.proj{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: auto;
    padding-bottom: 25px;
    width: 100%;
    background-color: rgb(242, 242, 242);
}

.proj>h1{
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-family: "Stack Sans Notch", sans-serif;
    height: 25px;
}

.Ps{
    height: 45px;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.Ps>p{
    width: 60%;
    text-align: center;
}


.div-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    
}
.div-container>div{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    height: 332px;
    border-radius: 10px;
    margin-top: 40px;
}

.div-container>div:hover{
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}


.second{
    width: 400px;
    height: 332px;
}
.second1-div{
    width: 400px;
    height: 200px;
}
.second1-div>img{
    width: 400px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.second2-div{
    padding: 10px;
    height: 100px;
}
.h2-i{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.h2-i>h2{
    font-family: "PT Sans", sans-serif;
    font-weight:500;
}

.project-button-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
}

.project-button{
    width: max-content;
    height: 35px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: rgb(226, 227, 227);
    font-family: "Metrophobic", sans-serif;
}

.project-button:hover{
    background-color: rgb(215, 218, 219);
}

.git-icon{
    color: black;
}

@media (max-width: 500px) {
    .proj{
        height: auto;
        overflow: hidden;
        background-color: white;
    }

    .Ps>p{
        font-size: 10px;
    }

    .div-container{
        width: 100%;
        height: auto;
    }

    .second{
        width: 90%;
        height: 332px;
    }

    .second1-div{
        width: 100%;
    }

    .second1-div>img{
        width: 100%;
        height: 200px;
    }

    .project-button{
        width: 40%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 501px) and (max-width: 1024px) {
    .project-button{
        width: max-content;
        height: 35px;
        padding-left: 25px;
        padding-right: 25px;
    }
}