@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');




.parent-skills{
    background-color: rgb(242, 242, 242);
    height: auto;
    
}

.skills{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    background-color: white;
}

.tools{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    padding-top: 50px;
}

.tools>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 60px 60px 60px 60px ;
    width: 10%;
    height: 250px;
    border: 1px solid black;
    box-shadow: 1px 1px 6px black;
}

.tools>div>i{
    font-size:80px ;
}

.skills>h2{
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-family: "Metrophobic", sans-serif;
}

@media (max-width: 500px) {

    .parent-skills{
        background-color: white;
    }
    
    .tools>div{
        border: none;
        box-shadow: none;
        height: 200px;

    }

    .tools{
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }

    .tools>div>i{
        font-size: 150px;
    }

}

@media (min-width:501px) and (max-width:1024px){

    .tools>div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 60px 60px 60px 60px ;
        width: 10%;
        height: 250px;
        border: 0 ;
        box-shadow: 0 0 ;
    }
}