html{
    scroll-behavior: smooth;
}

.parent-skills{
    background-color: rgb(242, 242, 242);
}

.skills{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    background-color: white;
}

.tools{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

.tools>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 60px 60px 60px 60px ;
    width: 10%;
    height: 250px;
    border: 1px solid black;
}

.tools>div>p{
    border: 1px solid black;
    border-radius: 100%;
    height: 50px;
    width: 30%;
}

.skills>h2{
    display: flex;
    justify-content: center;
    font-size: 45px;
}

